<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Python Software Foundation | Intern</h3>
                            <div class="time">May 2016 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <h4><div class="company">Google Summer of Code 2016</div></h4>
                        <div class="company">Mentor: Dr. Ariel Rokem, Washington e-Science Institute</div>

                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed a python module for Magnetic Resonance Image (MRI) reconstruction based on the Intra-voxel Incoherent Motion model (Le Bihan, 84).
  
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Quantum Information & Computing Group | Visiting Student</h3>
                            <div class="time">Jul 2016 - Aug 2016</div>
                        </div><!--//upper-row-->

<h4>                        <div class="company">Harish Chandra Research Institute, Allahabad</div></h4>
                        <div class="company">Guide: Prof. Ujjwal Sen</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>Indian Academy of Sciences (IAS) Summer Research Fellow. Studied Quantum Entanglement, measures of classical and quantum correlations and the application of Bell inequalities in Quantum Cryptography. In particular, analysed the E91 protocol (Arthur Ekert, 91) and use of Bell inequalities in device independent quantum cyrptography.
                    </div><!--//details-->
                </div><!--//item-->
            

    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Computational Biology Group | Visiting Student</h3>
                            <div class="time">Dec 2015 - Jan 2016</div>
                        </div><!--//upper-row-->
                        <h4><div class="company">Institute of Mathematical Sciences, Chennai</div></h4>
                    </div><!--//meta-->
                    <div class="company">Guide: Prof. Sitabhra Sinha</div>
                    <div class="details">
                        <p>Simulated a Hodgkin Huxley inspired model for electrical signaling in bacterial bio-films using Python. Tested the ability of bacterial bio-films to behave as excitable media by extending the 1D model in the study (Prindle et al, 2015) to 2D and analysing the result of various initial conditions.</p>
                    </div><!--//details-->
                </div><!--//item-->
            

            </section><!--//section-->