<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Ivim</a></span> - <span class="project-tagline">A Python module implementing the Intra-voxel Incoherent Motion (Le Bihan, 84) in Dipy</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Gravitational Wave Data Analysis</a></span> - 
                    <span class="project-tagline">A study of signal processing techniques for detecting gravitational waves from LIGO data</span>
                
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Network Modeling</a></span> - <span class="project-tagline">Implementing the SIR and SIS models on various types of networks for studying epidemic spreading</span>
                </div><!--//item-->
            </section><!--//section-->